 body {
        padding-top: 10px;
        padding-bottom: 60px;
        font-weight: 300;
      }

      #header {
        padding-bottom:60px;
        color:#ddd;
      }

      #header a {
        color:#ddd;
      }

      #header a:hover {
        color:#DF7401;
        text-decoration: none;
      }

      article > h2{
        margin-bottom: 20px;
      }

      p {
        line-height: 1.6em;
        font-size: 18px;
      }

      .blog_header {
        margin-bottom: 20px;
      }

      .blog_header > .date, .tags {
        color: #c7c2b8;
      }

      .tags a{
        font-size:0.8em;

      }


      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 800px;
      }
      .container > hr {
        margin: 60px 0 20px 0;
      }

    
      article > header > h2:hover, article h2 a:hover, h3:hover {
        color: #DF7401;
        text-decoration: none;
      }

      a:hover {
        color:#DF7401;
      }

      .blog_header h2 a, h3 a {
        color:#000;
      }

      .blog_header h2, h3 {
        margin-bottom: 5px;
        font-weight:500;
        font-family: 'Georgia';
      }
    
      #article_nav {
        padding-top:30px;
      }

      .footnotes p, .footnotes li{
        font-size:0.8em;
      }