body {
  padding-top: 10px;
  padding-bottom: 60px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:20px;
}

p {
  line-height: 1.6em;
  font-size: 0.9em;
  text-align:justify;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 800px;
}
.container > hr {
  margin: 60px 0 10px 0;
}

/* Header */

.pageheader {
  padding-bottom:60px;
  color:#aaa;

}

.pageheader a {
  color:#bbb;
}

.pageheader a:hover {
  color:#DF7401;
  text-decoration: none;
}

/* Article List */
h1 {
  font-size:1.8em;
  margin-bottom:0;
}

h1 a {
    color: #000000;
}

h2 {
  font-size:1.3em;
}

h3 {
  font-size:1.0em;
  color:#555;

}

.tldr {
  margin-top:10px;
  margin-bottom:30px;
  clear:both;
  width:80%;
  margin:0 auto;
  /*padding:0;*/
  line-height:1.4em;
  text-align: justify;
  
  font-weight:200;
}
.tldr .header {
  
  font-weight:bold;
  font-size:1.10em;

}

.tldr .content {
/*  font-size:1em;*/
}



.date, .tags {
  color: #c7c2b8;
  font-size:0.8em;
}

.tags a {
    font-size:0.8em;
}

.articlelist .blogpost {
  margin-bottom: 20px;
}


.blog_header {
  margin-bottom: 20px;
}

.taglist li{
  display:inline;
}

.taglist {
  display:inline;
  margin-left: 0;
}



a:hover, .list-title:hover {
  color:#DF7401;
  text-decoration: none;

}

.blogpost {
  padding-left:10px;
  padding-right:10px;
  border-left: solid white 5px;
  border-right: solid white 5px;
  

}
.articlelist .blogpost:hover {
  border-left: solid #DF7401 5px;
}

.blogpost {
  margin-top:10px;
  /*margin-bottom:20px;*/
  /*padding-bottom:10px;*/
}


.article_nav {
  padding-top:30px;
}

.footnotes p, .footnotes li{
  font-size:0.8em;
}

.footer {
  font-size:0.8em;
}

[class^="icon-"] {
  vertical-align: baseline;
}

.social {
  padding:10px;
}