#import time
#extends layout

#def pagetitle
#end def
#def body

<section class="articlelist">
    #for $id, $article in $articles.items():
        #set $date = $time.strftime("%d %B %Y", $article.date)
        <article class="blogpost">
                    #set $link = "/%s" % (id)
                    <header class="blog_header">
                      <h1 class="list-title"><a href="$link">$article.title</a></h1>
                      <span class="date">$date</span>
                    </header>
        </article>
    #end for
</section>
#end def
